{
  "sourceMaps": false,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true
    },
    "baseUrl": "src"
  },
  "env": {
    "include": [
      "transform-block-scoping",
      "proposal-class-properties",
      "transform-classes",
      "transform-async-to-generator"
    ],
    "exclude": [
      "bugfix/transform-edge-default-parameters",
      "bugfix/transform-async-arrows-in-class",
      "bugfix/transform-tagged-template-caching",
      "bugfix/transform-safari-id-destructuring-collision-in-function-expression",
      "proposal-class-static-block",
      "proposal-private-property-in-object",
      "proposal-logical-assignment-operators",
      "proposal-export-namespace-from",
      "proposal-nullish-coalescing-operator",
      "proposal-optional-chaining",
      "proposal-optional-catch-binding",
      "proposal-object-rest-spread",
      "transform-exponentiation-operator",
      "transform-block-scoped-functions",
      "transform-template-literals",
      "transform-spread",
      "transform-function-name",
      "transform-arrow-functions",
      "transform-duplicate-keys",
      "transform-sticky-regex",
      "transform-typeof-symbol",
      "transform-shorthand-properties",
      "transform-parameters",
      "transform-for-of",
      "transform-computed-properties",
      "transform-regenerator",
      "transform-new-target",
      "transform-property-literals",
      "transform-member-expression-literals",
      "transform-reserved-words",
      "transform-destructuring"
    ]
  }
}